* { margin: 0; padding: 0; }
body { font-family: Baskerville, Times, Times New Roman, serif; background: #f5f5f5 url('graphy.png') repeat left top;
	; overflow: auto; color: #bcbcbc; font-size: 16px; }
h1 { font-weight: normal; margin-bottom: 30px; color: #3b3b3b; font-size: 45px; }
a { text-decoration: none; color: #6177a6; }
a:hover { background: #2f3950; color: #fff; }
#page { width: 100%; text-align: center; margin: 150px 0; }